# Descriptive analysis

 Descriptive analysis is a crucial first step in conducting any statiscal analysis, It helps in simplifying data sets in a sensible way, for example GPA is a good descriptive measure of how well a student did in a range of courses on average.

There are three measures with which we can describe a data set , namely distribution, central tendency and dispersion.

Distribution is an overview of the frequency of values for a certain variable. let's explore the distribution in the next data set, one containing heights of males in the first half  of the rows and females for the remaining half.

In [1]:
#Importing the libraries needed for data analysis

import pandas as pd
import numpy as np

In [2]:
#Reading the csv data set using pandas dataframe

df = pd.read_csv('weight-height.csv')

In [3]:
#Lets see the distribution of heights and weights in males to begin with, we first filter to get only the male entries then we check the first 5 entries of the male data frame

df_male = df[df.Gender == 'Male']
df_male.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
#Check the last 5 entries of the male data frame

df_male.tail()

     Gender     Height      Weight
4995   Male  68.860062  177.131052
4996   Male  68.973423  159.285228
4997   Male  67.013795  199.195400
4998   Male  71.557718  185.905909
4999   Male  70.351880  198.903012

One of the ways to get a feel of the distribution of the data is using a histogram chart.

In [5]:
#Import the needed plotting library and plot a histogram using it

import matplotlib.pyplot as plt
df_male.hist(bins=8, figsize=(20,8))
plt.show()

Moving on to central tendency and dispersion, i.e mean, median, mode and standard deviation.

In [6]:
df_male.describe()

            Height       Weight
count  5000.000000  5000.000000
mean     69.026346   187.020621
std       2.863362    19.781155
min      58.406905   112.902939
25%      67.174679   173.887767
50%      69.027709   187.033546
75%      70.988744   200.357802
max      78.998742   269.989699